@font-face {
  font-family: Myriad_set_pro_text; /* Гарнитура шрифта */
  src: local('Myriad_set_pro_text'), url(../fonts/myriad-set-pro_text.woff); /* Для остальных браузеров */
}

html, body{margin:0;font-family: Myriad_set_pro_text, Arial sans-serif;}
.fl_l{float:left;}
.fl_r{float:right;}

.button{font-family: Myriad_set_pro_text, Arial, Helvetica sans-serif;}

.head{position:absolute;top:0;left:0;right:0;position:absolute;z-index:134;background-color:transparent;padding:34px 54px}
.head__link{color:#FFF}
.head__buttom{background:#00BCD4;border:1px solid #00BCD4;padding:9px 24px;border-radius:70px;margin-left:14px;color:#FFF;}
.head__buttom_transparent{border:1px solid #00BCD4;background:transparent;}